body{
    margin: 0%;
    padding: 0%;
    background: white;
    overflow: hidden;
}
.container{
    margin: 50px auto;
    text-align: center;
}
h1{
    font-size: 3em;
    font-family: helvetica;
    color: Black;
    
}
#time{
    width: 180px;
    padding: 18px 10px;
    font-family: helvetica;
    font-size: 2em;
    margin: 60px auto 60px;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold;
    color: Black;
}
button{
    background: lightgray;
    padding: 18px 10px;
    font-size: 1.5em;
    width: 180px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 15px;
    color: Black;
    font-weight: bold;
    outline: black;
}
button:hover{
    cursor: pointer;

    background-color: transparent;
    background: grey;
    color: lightgray;
    transition: 0.4s;
    border: none;
}
